<h2> Image Form </h2>

<%= form_for(@image, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>

    <div class="field">
      <%= f.label :image_url %><br>
      <%= f.file_field :image_url %>
    </div>

<% end %>
